<h1>Three colors</h1>


<section class="game">
  <div class="color"></div>
  <div class="color"></div>
  <div class="color"></div>
</section>

<section class="play">
  <input type="number" placeholder="Enter your bid" id="bid" #bidInput>
  <button id="start" (click)="draw()">Draw!</button>
</section>


<section class="panel">Money you own before the game:
  <span class="wallet">{{wallet.getMoney()}}</span>
</section>


<section class="score">
  <span class="result">{{drawResult}}</span> You played <span class="number">{{numberOfGames}}</span> games, where <span class="win">{{numberOfWins}}</span> won
  and <span class="loss">{{numberOfLosses}}</span> lost.
</section>
